# This URI Assumes the user was defined in the inabox DB.  You may need authSource=admin.
custom.mongo.uri=mongodb://myTestUser:password@localhost:27017/inabox?authSource=inabox
custom.admin.password=password
